---
import Capturadora from '../components/Capturadora.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
// Supports weights 100-900
import '@fontsource-variable/onest';
---

<Layout title="Rec Beaver: Grabadora de Audio y Video en Línea Gratuita"
description='Capture y comparta videos y audios de alta calidad con nuestro grabador web gratuito. Fácil de usar, sin descargas necesarias y perfecto para presentaciones, demostraciones y más.'>
	<Header />
	<main class="min-h-screen flex flex-col items-center ">
		<section class="flex flex-col min-h-[85vh] justify-center items-center">
		<h1 class="text-3xl md:text-5xl font-bold mb-5 text-pretty text-left md:text-center px-10">WELCOME TO <span class="text-[#E70018] font-black contrast-200">REC</span><span class="font-black text-gray-400">BEAVER</span></h1>
		<h2 class="text-2xl md:text-4xl font-semibold mb-5 text-pretty text-left md:text-center px-10">Free web recorder using mediarecorder API</h2>
		<p class="text-2xl mb-5 px-10 text-left">You can make infinite videos from your full screen</p>
		<img src="../recbeaver-solo.PNG" alt="Logo recbeaver" class="w-36 md:w-40 xl:w-56 pt-10 hover:scale-105 hover:-rotate-12 transition-all ease-in-out duration-300">
	</section>
		<Capturadora />
	</main>
	<Footer />
</Layout>

<style>
	
</style>
