---
import Capturadora from '../components/Capturadora.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
// Supports weights 100-900
import '@fontsource-variable/onest';
---

<Layout title="Capturadora de video">
	<Header />
	<main class="min-h-screen flex flex-col items-center mt-20 mb-20">
		<h1 class="text-5xl font-bold mb-5 text-pretty text-center px-20">Free web recorder using mediarecorder API</h1>
		<p class="text-2xl mb-20">You can make infinite videos from your full screen</p>
		<Capturadora />
	</main>
	<Footer />
</Layout>

<style>
	
</style>
